*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px  30px;
    background-color: #0d6efd;
    
}
nav{
    margin-left: auto;
}
.logo a{
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;

}
.nav-links{
    display: flex;
    list-style: none;
    gap: 20px;
    
}
.nav-links a{
    text-decoration: none;
    color: white;
    font-weight: 600;

}
.nav-links a:hover{
    color: yellow;
}